.projects{
    background-color: hsl(221, 46%, 17%);
    min-height: 100vh;
    padding-top:15vmax;
    display: wrap;
}
.projects>h4{
    text-align: center;
    color:white;
    position: absolute;
    background-color: rgba(6, 31, 54, 0.973);
    padding: 1.5vmax 3vmax;
    display:flex;
    border-radius: 100px;
    align-items: center;
    left: 50%;
    transform: translate(-50%,-100vh);
    animation:projectHeadingAnimation 1s ease-in forwards;
}
.project>h3>svg{
    margin: 1vmax;
}
.projectWrapper{
    border-top: 100px solid white;
    border-radius: 300px 300px 0 0;
    min-height: inherit;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5vmax;
    padding-bottom: 10vmax;
    overflow-x: hidden;
}
.projectCard{
    width:80%;
    text-decoration: none;
    border-radius: 10px;
    color:rgba(0,0,0,0.784);
    margin: 2vmax;
    display: flex;
    transform: translateX(-100vw);
    animation: projectCardAnimation 1s ease-in-out forwards 0.5s;

}
.projectCard:nth-child(even){
    transform: translateX(100vw);
    animation: projectCardAnimation 1s ease-in-out forwards 1s;
}

.projectCard>div{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    transition: all 0.5s;

}
.projectCard>div:first-child::after{
    content:"VIEW DEMO";
    width:100%;
    height:100%;
    font: 100 2rem "Roboto";
    align-items: center;
    justify-content: center;
    background-color: hsl(221, 46%, 17%);
    color: #fff;
}

.projectCard>div:first-child >h5{
    text-align: center;
    padding: 2vmax;

}

.projectCard>div:last-child{
    padding: 2vmax;

}

/* .projectCard>div:last-child >h4{
    text-align: center;
    padding: 2vmax;
} */

.projectCard >div :last-child>p{
    letter-spacing: 5px;
    word-spacing: 5px;
    text-align: right;
}

.projectCard>div:last-child>h6{
    font-family: "Ubuntu Mono";
    font-weight: bold;
    color:black;
}
.projectCard>div>img{
    width: inherit;
}
.projectCard:hover div:first-child{
    filter:blur(4px)
}
@keyframes projectCardAnimation {
    to {
        transform: translateX(0px);
    }    
}
@keyframes projectHeadingAnimation {
   to{
    transform: translate(-50%,-50%);
   }
}